section.section.section--darker.section--border-primary
	header.header.container
		.header__section
			img.header__brand(src="public/img/logo.png", alt="Logo")
		.header__section
			form.header__form.form-inline(action="" method="get")
				select.form-inline__categories
					option All Categories
					option Category 1
					option Category 2
				input.form-inline__field(type="text" placeholder="Search here")
				input.form-inline__btn.btn.btn--inline(type="button" value="Search")
		.header__section
			.header__actions
				.action
					i.far.fa-heart.action__icon
						span.action__notification 3
					span.action__text Your Wishlist
				.action
					i.fas.fa-shopping-cart.action__icon
						span.action__notification 5
					span.action__text Your Cart