section.section.section--p30.hot-deal
	.container.time-counter
		.time-counter__time
			.time-counter__section
				.time-counter__digit 02
				.time-counter__descrption Days
			.time-counter__section
				.time-counter__digit 10
				.time-counter__descrption Hours
			.time-counter__section
				.time-counter__digit 34
				.time-counter__descrption Mins
			.time-counter__section
				.time-counter__digit 60
				.time-counter__descrption Secs
		.time-counter__title Hot deal this week
		.time-counter__subtitle New collection up to 50% off
		button.time-counter__btn.btn.btn--rounded.btn--dark-theme
			span.btn__text Shop now