section.section.section--border-grey
	nav.nav.container
		a.nav__link.link.link--underline.link--active(href="#") Home
		a.nav__link.link.link--underline(href="#") Hot Deals
		a.nav__link.link.link--underline(href="#") Categories
		a.nav__link.link.link--underline(href="#") Laptops
		a.nav__link.link.link--underline(href="#") Smartphones
		a.nav__link.link.link--underline(href="#") Cameras
		a.nav__link.link.link--underline(href="#") Accessories