.draft {
	@include flex(column);

	&__header {
		text-transform: uppercase;
	}

	&__section {
		@include flex(column);
	}

	&__title {
		margin: 20px 0;
	}

	&__body {
		@include flex($main-axis: space-between);
		width: 100%;
	}

	&__element {
		text-align: center;
		padding: 20px;

		h5 {
			margin-bottom: 15px;
		}

		&--light {
			background: #fff;

			h5 {
				color: #000;
			}
		}

		&--dark {
			background: #000;

			h5 {
				color: #fff;
			}
		}
	}

	&--center {
		@include flex;
	}

	&--background-grey {
		background: #999;
	}
}