.draft {
	@include flex();

	&__btn:hover {
		.draft__icon {
			width: 30px;
			transition: 0.3s;
		}
	}

	&__icon {
		color: $primary-color;
		width: 0;
		transition: 0.3s;
		overflow: hidden;
		text-align: left;
	}
}