* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: $white;
  color: $darker;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

strong, div, a, span, header, footer {
  color: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}